<% if user_signed_in? %>
  <div id="app"></div>
  <%= javascript_pack_tag 'application' %>
<% else %>
  <div class="welcome panel">
    <h1 id="welcome-title">Welcome to Craglist</h1>
    <h4>Keep track of your climbing progress and find popular climbs to do</h4>
    <div id="get-started">
      <a href="/users/sign_in" class="button">Log in</a>
      <span>or</span>
      <a href="/users/sign_up" class="button">Sign up</a>
      <span>to get started</span>
      <div>
        <a class="fb-login" href="<%= user_facebook_omniauth_authorize_path %>"><i class="fab fa-facebook"></i>Continue with Facebook</a>
      </div>
    </div>
  </div>
<% end %>
