.button, button, input[type="submit"] {
  border-width: 1px;
  border-color: #72727A;
  border-radius: 5px;
  background-color: #115597;
  color: #FFF;
  padding: 12px;
  font-size: 100%;
}

.button:hover, button:hover {
  background-color: rgba(45, 98, 149, 0.7)
}

.button-group {
  text-align: center;
  margin-top: 20px;
  height: 50px;
}

.button-group .button {
  margin: 0px 5px;
}
