.new-form, .edit-form, .completed-form {
  border: 1px solid rgba(86, 86, 86, 0.2);
  background-color: #FAFBFC;
  border-radius: 2px;
  width: 450px;
  min-width: 300px;
  height: 600px;
  min-height: 300px;
  padding: 2%;
  padding-bottom: 20px;
  margin: auto;
  position: absolute;
  left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  box-shadow: 0px 1px 2px gray;
  z-index: 2;
  overflow: auto;
  text-align: left;
}

.edit-form {
  height: 250px;
  min-height: 100px;
}

.completed-form {
  height: 400px;
  min-height: 100px;
}

.form-sheet {
  background-color: #000;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.select-row {
  display: table
}

.select-cell {
  display: table-cell;
}

#pitches {
  width: 25%;
}

textarea {
  height: 100px;
  border-radius: 5px;
}

input[type="text"], input[type="number"], select {
  border-radius: 5px;
}
