.tick-table thead th:nth-child(1) {
  width: 13%;
}

.tick-table thead th:nth-child(2) {
  width: 15%;
}

.tick-table thead th:nth-child(3) {
  width: 16%;
}

.tick-table thead th:nth-child(4) {
  width: 7%;
}

.tick-table thead th:nth-child(5) {
  width: 6%;
}

.tick-table thead th:nth-child(6) {
  width: 8%;
}

.tick-table thead th:nth-child(7) {
  width: 25%;
}

.tick-table thead th:nth-child(8) {
  width: 5%;
}

.tick-table thead th:nth-child(9) {
  width: 5%;
}

.tick-table tbody td:nth-child(1) {
  text-align: left;
}
