h2 {
  height: 60px;
  padding: 10px 0;
}

.header {
  height: 80px;
}

.new-button {
  text-align: right;
}

.new-button .button {
  padding: 14px;
  margin-top: 19px;
}

.list-container {
  border: 2px ridge black;
  background-color: rgba(237, 241, 255, 0.8);
  padding: 20px;
}
